.cabecalho {
    background-color: #2D5377;
    color: #FFF;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho nav ul {
    display: flex;
}

.cabecalho nav li {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}